@use "../abstract" as *;

#p-about .main-nav li.is-active a::after {
  display: block;
  content: "";
  height: 2px;
  background-color: $color-light-200;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateX(0%);
}

#p-about .c-circle-animated {
  position: absolute;
  // top: 61vw;
  top: 50vw;
  left: 85%;

  z-index: 5;
}

#p-about .l-articles-header {
  width: 100%;
  padding-top: 40vh;

  &_img {
    position: relative;
    margin: 0 auto;
    max-width: 34%;

    padding-bottom: 50%;

    & img {
      opacity: 1;
      // height: 100%;
      height: 80%;
      top: -20%;
    }
  }

  &_txt {
    position: absolute;
    top: 30vw;
    left: 6.6vw;

    width: 75%;
  }
}
#p-about .l-articles {
  // padding-top: 4vw;
  padding-top: 20vh;
  margin-top: 0;

  background-color: #fff;

  &_txt {
    & h3,
    & p {
      color: $color-dark-300;
    }
  }
}

#p-about .b-chapter-typo {
  color: $color-dark-300;
}

#p-about .c-button-primary {
  color: $color-dark-300;

  &:after {
    background-color: $color-dark-300;
    opacity: 1;
  }
  span {
    &:nth-child(1),
    &:nth-child(2) {
      &:after,
      &:before {
        opacity: 1;
        background-color: $color-dark-300;
      }
    }
  }
}

#p-about .c-button-primary:before {
  background-size: 2.08vw;
  background-repeat: no-repeat;
  background-image: url("../assets/img/icon-arrow-black.svg");
}
